.footer-container {
    text-align: center;
    padding-top: 70px;
}

.footer-container a {
    text-decoration: none;
}

.footer-container > p {
    font-size: 10px;
    width: 80%;
    margin: 10px auto;
}