.header-container {
    display: flex;
    width: 80%;
    margin: 80px auto;
    align-items: center;
    max-width: 1500px;
}

.header-info {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}

.header-img-container {
    width: 50%;
    text-align: center;
}

.header-img {
    width: 100%;
    max-width: 600px;
}

.get-your-container {
    display: flex;
    align-items: center;
    background-color: rgb(99, 45, 99);
    color: white;
    justify-content: space-evenly;
    padding: 40px;
    flex-wrap: wrap;
    text-align: center;
}

.get-your-info {
    margin-top: 5px;
    margin-bottom: 5px;
}

.get-quote-btn {
    text-decoration: none;
    background-color: rgb(167, 0, 83);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: 600;
}

.get-quote-btn:hover {
    background-color: rgb(102, 0, 51);
    color: white;
}

.how-it-works-title {
    text-align: center;
    margin: 50px;
    color: rgb(167, 0, 83);
}

.how-it-works-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.how-it-works {
    width: 80%;
    max-width: 300px;
}

.how-it-works > h5 {
    font-size: 25px;
    color: rgb(167, 0, 83);
}

.why-container {
    margin-top: 50px;
    background-color: rgb(99, 45, 99);
    padding: 50px;
    color: white;
}

.why-title {
    text-align: center;
    color: rgb(190, 190, 143);
}

.why-sub-title {
    text-align: center;
}

.why-info {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.whys > h2 {
    color: rgb(190, 190, 143);
}

.get-quote-num {
    max-width: 400px;
    margin: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 1130px) {
    .header-container {
        display: block;
    }

    .header-info {
        width: 90%;
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }

    .header-img-container {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

    .header-img {
        margin-top: 50px;
    }

    .how-it-works-container {
        display: block;
    }

    .how-it-works {
        margin: 0 auto;
    }

    .why-info {
        display: block;
        text-align: center;
    }

    .whys {
        margin-top: 30px;
    }
}