.transparently {
    border: 1px solid black;
    width: 90%;
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px auto;
    padding: 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: rgb(236, 246, 254);
}

/* #iClickContainer {
    position: absolute !important;
    top: 100px;
} */

.search-ad-title {
    width: 80%;
    text-align: center;
    margin: 50px auto;
}

.search-ad {
    display: flex;
    width: 90%;
    max-width: 700px;
    margin: 50px auto;
    background-color: rgb(247, 247, 247);
    padding: 40px;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 94, 157);
}

.search-listing-title {
    font-weight: 600;
    color: rgb(74, 132, 219);
}

.search-get-quote-btn {
    padding: 15px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 20px;
    width: 80%;
    max-width: 150px;
    font-weight: 700;
}

.search-get-quote-btn:hover {
    background-color: rgb(30, 145, 110);
}

.search-no-ads {
    text-align: center;
}

.search-back-btn {
    padding: 20px;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 20px;
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .search-ad {
        display: block;
        text-align: center;
    }
}